@tailwind base;
@tailwind components;
@tailwind utilities;

/* 隐藏默认滚动条但保留平滑滚动 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
